<div class="login-view">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>    
    <form class="login-form" name="login-form" id="login-form" ng-submit="createPost(formData)">
      <input type="text" name="email" id="email" ng-model="formData.email" placeholder="username"/>
      <input type="password" name="password" id="password" ng-model="formData.password" placeholder="password"/>
      <input type="submit" value="Submit"></input>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form><br>
        <strong>Response Message:</strong> {{responseMessage}}<br><br><br>
  </div>
</div>
