.main_content {
        margin: auto;
        width: 80%;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        max-height: 95%;
}

#new_vote_form, #new_batch_vote_form, #new_list_form {
        padding-top: 100px;
        max-width: 350px;
        text-align: left;
}

#new_event_form {
        max-width: 350px;
        text-align: left;
        padding-top: 60px;
}

.menu_header {
        color: #fff;
}

#inline_logo {
        display: inline-block;
        vertical-align: middle;
}

i {
        color: #555f61;
}

#menu_org_name {
        color: #fff;
}

#drafted_votes_well, #active_votes_well {
        max-height: 340px;
}

.outline {
        border: 1px solid;
        border-radius: 1em;
}

.table-head th{
        text-align: center;

}

#vote_page_list_dropdown {
        max-width: 250px;
}

#active_votes_well {
        min-height: inherit;
}

.activeVoteAlerts {
        margin-top: 15px;
}

.vote_result_buttons {
        min-width: 100px;
}

#events_for_list_well {
        padding-bottom: 30px;
}

.interaction-recruit-div {
        border-radius: 1em;
        background-color: #fff;
        width: 20%;
        margin: auto;
        margin-top: .6em;
        margin-bottom: .6em;
        padding: 1em;
}

#new-interaction-submit {
        margin-bottom: 1em;
}

.center {
        text-align: center;
        display: block;
        margin: auto;
        
}

#landing-img {
        width: 20%;
        text-align: center;
        margin: auto;
        display: block;

}
