<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">

		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>

		<div class="fr">
			<h2>Admin Options</h2>
		</div>
		<div class="main_content">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-5">
					<h2>Current Admins</h2>
					<div class="well well-md pre-scrollable" id="current_admins_well">
						<table class="table table-hover" id="current-admins-table">
							<thead class="table-head">
								<tr>
									<th>
										Admin Name
									</th>
									<th>
										Member ID
									</th>
									<th>
										Actions
									</th>
								</tr>
							</thead>
							<tbody>

								<!-- ng repeat for each event in that org assocaited with an active list -->
								<tr ng-repeat="member in members_with_admin">
									<td>
										{{member.member_first}} {{member.member_last}}
									</td>
									<td>
										{{member.member_id}}
									</td>
									<td>
										<button class="btn btn-danger btn-sm" id="current_admin_{{member.member_id}}" ng-click="removeAdmin(member.member_id)">Remove Admin</button>
									</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
				<div class="col-md-3">
					<h2>New Admin</h2>
					<form class="form" ng-submit="newAdmin(selectedMemberAdminOptions)">
					<select class="form-control" id="admin_options_new_admin_dropdown" ng-model="selectedMemberAdminOptions">
							<option id="{{member.member_id}}" value="{{member.member_id}}" ng-repeat="member in members" >{{member.member_first}} {{member.member_last}}</option>
					</select><br>
					<button id="designate_admin" type="submit" class="btn btn-primary">Designate New Admin</button>
					</form>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</snap-content>
</div>
<script>
	
</script>