<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">

		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>

		<div class="fr">
		<h2>Lists </h2>
		</div>
        <div class="main_content">
            <div class="new_container">
		    <!-- This is NG if rush chair -->
		    <h2> New List</h2>
		    <button id="new-list-btn" type="button" class="btn btn-info"><a href="/#/dashboard/lists/new-list" >Create New</a></button>

	    </div>
	    <hr />
	    <table id="list-table" class="table table-bordered">
		<tr>
			<th>
				Name
			</th>
			<th>
				Creation Date
			</th>
			<th>
				Count
			</th>
			<th>
				Status
			</th>
		</tr>
		<!-- ng repeat for each list in that org	 -->
		<tr ng-repeat="list in lists">
			<td>
				{{list.list_name}}
			</td>
			<td>
				{{list.list_creation}}
			</td>
			<td>
				{{list.list_count}}
			</td>
			<td>
				{{list.list_archived}}
			</td>
		</tr>
	    </table>
        </div>
	</snap-content>
</div>
