<div>
        <div ng-include="'menu.html'"></div>
        <snap-dragger></snap-dragger>
        <snap-content snap-opt-tap-to-close="false">

                <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>

                <div class="fr">
                        <h2>New Interaction Score</h2>
                </div>
                <div class="main_content">

                        <form id="new-interaction" ng-submit="newInteractionLog()">
                                <div class="interaction-recruit-div" ng-repeat="recruit in recruits_for_interaction.data">
                                        <h2 class="interaction-recruit-name">{{recruit.sign_in_records_first}} {{recruit.sign_in_records_last}}</h2>


                                        <br />
                                        <label>NA</label>
                                        <input type="radio" class="interaction-radio" name="{{recruit.recruit_id}}" id="0" required/>
                                        <label>1</label>
                                        <input type="radio" class="interaction-radio" name="{{recruit.recruit_id}}" id="1" required/>
                                        <label>2</label>
                                        <input type="radio" class="interaction-radio" name="{{recruit.recruit_id}}" id="2" required/>
                                        <label>3</label>
                                        <input type="radio" class="interaction-radio" name="{{recruit.recruit_id}}" id="3" required/>
                                        <label>4</label>
                                        <input type="radio" class="interaction-radio" name="{{recruit.recruit_id}}" id="4" required/>
                                        <label>5</label>
                                        <input type="radio" class="interaction-radio" name="{{recruit.recruit_id}}" id="5" required/>


                                </div>
                                <br />
                                <button type="submit" class="btn btn-primary" id="new-interaction-submit">Submit</button>
                                <br />
                        </form>








                </div>


</div>
