<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">

		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>

		<div class="fr">
			<h2>New Event</h2>
		</div>
		<div class="main_content">
			<div class="col-md-4"></div>
			<div class="col-md-4" id="new_event_form">
				<form id="newEventForm" ng-submit="createNewEvent(selectedListForNewEvent, eventName, eventLocation, intReqFields, newEventComments)">
					<div class="form-group">
						<label for="new-event-form-list">List</label>
						<select class="form-control" id="new-event-form-list" ng-model="selectedListForNewEvent">
							<option id="{{list.list_id}}" value="{{list.list_id}}" ng-repeat="list in lists">{{list.list_name}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="new-event-form-input-title">Event Name</label>
						<input id="new-event-form-input-title" class="form-control" ng-model="eventName" type="text" placeholder="Ex: Meet the Chapter" required></input>
					</div>
					<div class="form-group">
						<label for="new-event-form-location">Event Location</label>
						<input type="text" class="form-control" id="new-event-form-location" ng-model="eventLocation" placeholder="Ex: Simon Hall Room 112" required></input>
					</div>

					<!-- We will use this code again when we implement selection of number of fields to put on the interaction log.
					<div class="form-group">
						<label for="new-event-form-int_req_fields">Interaction Fields</label>
						<select class="form-control" id="new-event-form-int_req_fields" ng-model="intReqFields">
							<option id="int_req_fields_option_1" value="0">No Fields</option>
							<option id="int_req_fields_option_1" value="1">1 Field</option>
							<option id="int_req_fields_option_1" value="2">2 Fields</option>
							<option id="int_req_fields_option_1" value="3">3 Fields</option>
						</select>
					</div>
					-->

					<!-- <div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" value="True" class="form-check-input" id="new-event-comments" ng-model="newEventComments">  Interaction Comments</input>
						</label>
					</div> -->
					<br>
					<button type="submit" class="btn btn-secondary">Create Event</button>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</snap-content>
</div>
