<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">

		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>

		<div class="fr">
		<h2>New List</h2>
		</div>
		<div class="main_content">
		<div class="col-md-4"></div>
			<div class="col-md-4" id="new_list_form">
				<form id="newListtForm"  ng-submit="createNewList(listName)">
					<div class="form-group">
						<label for="new-list-form-input-title">List Name</label>
						<input id="new-list-form-input-title" class="form-control" ng-model="listName" type="text" placeholder="Fall Rush 2017"></input>
					</div>
					<br>
					<button type="submit" class="btn btn-secondary">Create List</button>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</snap-content>
</div>
