<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">

		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>

		<div class="fr">
			<h2>Restricted Page</h2>
		</div>
		<div class="main_content">
			<div class="well well-md" id="restricted_well">
				<h2>You've attempted to reach a restricted page.</h2>
				<h5>You are not designated as an administrator for your organization. If you think this is a mistake, please contact the group owner.</h5><br>
				<a class="btn btn-primary btn-lg" ng-click="returnToOverview()" role="button">Return to Dashboard</a><br>
			</div>
		</div>
	</snap-content>
</div>