<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">

		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>

		<div class="fr">
			<h2>Vote Editor</h2>
		</div>
		<div class="main_content">
			<div class="row">
				<div class="col-md-5">
					<div id="list_select_container">
						<div class="col-md-3"></div>
						<div class="col-md-6">
							<h2>Select List</h2>
							<select class="form-control" id="vote_page_list_dropdown" ng-model="selectedListForVotesPage" ng-change="getActiveVotesFromList(selectedListForVotesPage); getDraftedVotesFromList(selectedListForVotesPage);">
							<option id="{{list.list_id}}" value="{{list.list_id}}" ng-repeat="list in lists">{{list.list_name}}</option>
						</select>
						</div>
						<div class="col-md-3"></div>
					</div>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-5">
					<div class="new_container">
						<!-- This is NG if rush chair -->
						<h2>Vote Options</h2>
						<button id="new-vote-btn" type="button" class="btn btn-info" ng-click="newVote()">Single Vote</button>
						<button id="new-batch-btn" type="button" class="btn btn-success" ng-click="newBatchVote()">Batch Votes</button>
						<button id="vote-hist-btn" type="button" class="btn" ng-click="voteResults()">Vote Results</button>
					</div>
					<!--<div class="alert alert-success" id="vote_success">{{vote_success}}</div>-->
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-6" id="active_votes_col">
					<h2>Active Votes</h2>
					<div class="well well-sm pre-scrollable">
						<table class="table table-hover" id="events-table">
							<thead class="table-head">
								<tr>
									<th>
										Vote On
									</th>
									<th>
										Abstain
									</th>
									<th>
										Threshold
									</th>
									<th>
										Options
									</th>
								</tr>
							</thead>
							<tbody>

								<!-- ng repeat for each event in that org assocaited with an active list -->
								<tr ng-repeat="vote in active_votes.data">
									<td>
										{{vote.recruit_first}} {{vote.recruit_last}}
									</td>
									<td>
										{{vote.vote_abstain}}
									</td>
									<td>
										{{vote.vote_threshold}}%
									</td>
									<td>
										<button class="btn btn-warning btn-sm vote_archive_links" id="vote_archive_link_{{vote.vote_id}}" ng-click="changeVoteStatus(vote.vote_id, vote.vote_list, 2); tallyVoteResults(vote.vote_id, vote.vote_threshold);">Close Vote</button>
									</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
				<div class="col-md-6" id="drafted_votes_col">
					<h2>Drafted Votes</h2>
					<div class="well well-sm pre-scrollable">
						<table class="table table-hover" id="events-table">
							<thead class="table-head">
								<tr>
									<th>
										Vote On
									</th>
									<th>
										Abstain
									</th>
									<th>
										Threshold
									</th>
									<th>
										Vote
									</th>
								</tr>
							</thead>
							<tbody>

								<!-- ng repeat for each event in that org assocaited with an active list -->
								<tr ng-repeat="vote in drafted_votes.data">
									<td>
										{{vote.recruit_first}} {{vote.recruit_last}}
									</td>
									<td>
										{{vote.vote_abstain}}
									</td>
									<td>
										{{vote.vote_threshold}}%
									</td>
									<td>
										<button class="btn btn-secondary btn-sm vote_activation_links" id="vote_activate_link_{{vote.vote_id}}" ng-click="changeVoteStatus(vote.vote_id, vote.vote_list, 1)">Activate</button>
									</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
</div>
</div>
</snap-content>
</div>