<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">

		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>

		<div class="fr">
		<h2>Votes History</h2>
		</div>
		<div class="main_content">
		    <table id="vote-hist-table">
                            <tr>
                                    <th>
                                            Rushee
                                    </th>
                                    <th>
                                            Yes %
                                    </th>
                                    <th>
                                            No %
                                    </th>
                            </tr>
                            <tr>
                                    <!-- ng repeat for each vote in that org display in recent to old -->
                                    <td>
                                            rushee name
                                    </td>
                                    <td>
                                            yes votes
                                    </td>
                                    <td>
                                            no votes
                                    </td>
                            </tr>
                    </table>
		</div>
	</snap-content>
</div>
